// Specific CSS for your home-page
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding-left: 0;
}


a {
  color: inherit;

  &:hover {
    color: orange;
  }
}

.light {
  font-size: 18px;
  color: rgba(0,0,0,0.5);

  li {
    display: inline-block;
  }
}

.highscore {
  display: block;
}

.flex-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
