// Specific CSS for your home-page
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  padding-left: 0;
}


a {
  color: inherit;

  &:hover {
    color: orange;
  }
}

.light {
  font-size: 18px;
  color: rgba(0,0,0,0.5);

  li {
    display: inline-block;
  }
}

.highscore {
  display: block;
}

.flex-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  body {
    display: block !important;
  }
  canvas {
    display: block !important;
    width: 100vw !important;
    height: 100vh !important;
  }
}

@media (max-height: 800px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  canvas {
    height: 100vmin !important;
    width: 100vmin !important;
  }
}

