<div class="description">
  <h1>minefield.js</h1>
  <p>Press space to avoid the oncoming mines!</p>
  <p class="light">Made by johansenja</p>
  <ul class="light">
    <a href="https://github.com/johansenja"><li><i class="fab fa-github"></i></li></a>
    <a href="https://www.linkedin.com/in/johansenja/"><li><i class="fab fa-linkedin"></i></li></a>
  </ul>
</div>
