button {
  height: 50px;
  width: 150px !important;
  font-family: 'Press Start 2P', cursive;
  background-color: #3CB6B3;
  display: block;
  margin-top: 15px;
  border-radius: 5px;
  color: white;
  position: absolute;
  right: 85%;
  bottom: 3%;
}
